
@media screen and (min-width: 850px) {
    


.third-page {
    background-color: #161617;
    .third-page-content {
        width: 820px;
        margin-left: auto;
        margin-right: auto;

h1 {
    font-family: 'regular';
    font-size: 50px;
    padding-top: 120px;
}

.cards {
    display: flex;
    .card1 {
        width: 30%;
        background-color: rgb(0, 0, 0);
        border-radius: 30px;

display: flex;
flex-direction: column;
img {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
h1 {
    color: white;
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
    line-height: normal;
}
a {
    color: #06c;
    font-size: 20px;
    text-align: center;margin-top: 20px;
}
a:hover {
    text-decoration: underline;

}
.planet {
    width: 50%;
    margin-bottom: 0px;
    margin-top: 50px;
} 

}

.card2 {
    margin-left: 5%;
    width: 30%;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    overflow: hidden;

display: flex;
flex-direction: column;
img {
width: 30px;
margin-left: auto;
margin-right: auto;
margin-top: 22px;
}
h1 {
color: white;
font-size: 28px;
text-align: center;
padding-top: 10px;
line-height: normal;
}
a {
color: #06c;
font-size: 20px;
text-align: center;margin-top: 20px;
}
a:hover {
text-decoration: underline;

}
.planet2 {
width: 80%;
margin-bottom: 0px;
} 

}
    }
  
   
   
   
   
   
    

    .card3 {
        width: 30%;
        background-color: rgb(0, 0, 0);
        border-radius: 30px;
margin-left: 5%;
display: flex;
flex-direction: column;
img {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
h1 {
    color: white;
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
    line-height: normal;
}
a {
    color: #06c;
    font-size: 20px;
    text-align: center;margin-top: 20px;
}
a:hover {
    text-decoration: underline;

}
.planet3 {
    width: 80%;
    margin-top: 15px;
} 

}
}

    }
}



@media screen and (max-width: 849px) {
    


    .third-page {
        background-color: #161617;
        .third-page-content {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
    
   .head-cards {
        font-family: 'regular';
        font-size: 40px;
        padding-top: 120px;
        width: 90vw;
        text-align: center;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        .card1 {
            width: 90vw;
            max-width: 300px;
            background-color: rgb(0, 0, 0);
            border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    img {
        width: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    h1 {
        color: white;
        font-size: 28px;
        text-align: center;
        padding-top: 10px;
        line-height: normal;
    }
    a {
        color: #06c;
        font-size: 20px;
        text-align: center;margin-top: 20px;
    }
    a:hover {
        text-decoration: underline;
    
    }
    .planet {
        width: 50%;
        margin-bottom: 0px;
        margin-top: 50px;
    } 
    
    }
    
    .card2 {
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
        max-width: 300px;
        margin-top: 30px;
        background-color: rgb(0, 0, 0);
        border-radius: 30px;
        overflow: hidden;
    
    display: flex;
    flex-direction: column;
    img {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    }
    h1 {
    color: white;
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
    line-height: normal;
    }
    a {
    color: #06c;
    font-size: 20px;
    text-align: center;margin-top: 20px;
    }
    a:hover {
    text-decoration: underline;
    
    }
    .planet2 {
    width: 80%;
    margin-bottom: 0px;
    } 
    
    }
        }
      
       
       
       
       
       
        
    
        .card3 {
            width: 90vw;
            max-width: 300px;
            margin-top: 30px;
            background-color: rgb(0, 0, 0);
            border-radius: 30px;
            margin-left: auto;
            margin-right: auto;
    display: flex;
    flex-direction: column;
    img {
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    h1 {
        color: white;
        font-size: 28px;
        text-align: center;
        padding-top: 10px;
        line-height: normal;
    }
    a {
        color: #06c;
        font-size: 20px;
        text-align: center;margin-top: 20px;
    }
    a:hover {
        text-decoration: underline;
    
    }
    .planet3 {
        width: 80%;
        margin-top: 15px;
    } 
    
    }
    }
    
        }
    }